version: "3.9"

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_KRAFT_MODE: 'true'
      CLUSTER_ID: 'kafka1'
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs

    volumes:
      - kafka_kraft:/var/lib/kafka/data

  scraper:
    build: scraper
    container_name: scraper
    ports:
      - "8080:8080"
    depends_on:
      - mongo
      - kafka
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/app

  doc_processor:
    build: docProcessor
    container_name: docProcessor
    ports:
      - "8082:8080"
    depends_on:
      - kafka

  mallet:
    build: mallet
    container_name: mallet
    ports:
      - "8081:8080"
    depends_on:
      - mongo
    env_file:
      - .env
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/app
    volumes:
      - model-store:/mallet/models
      - pipe-store:/mallet/pipes

volumes:
  mongo-data:
  model-store:
  pipe-store:
  kafka_kraft:
